<!-- site-footer.html -->
<!-- Amazon oneTag Code -->
<div id="amzn-assoc-ad-bc0cbe62-f8c3-46ba-8c36-615e29b154c3"></div>
<script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=bc0cbe62-f8c3-46ba-8c36-615e29b154c3"></script>

<!-- JavaScripts -->
<script src="{{ site.baseurl }}/assets/lib/jquery/dist/jquery.js"></script>
<script src="{{ site.baseurl }}/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/wow/dist/wow.js"></script>
<script src="{{ site.baseurl }}/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="{{ site.baseurl }}/assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="{{ site.baseurl }}/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="{{ site.baseurl }}/assets/lib/flexslider/jquery.flexslider.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script> -->
<script src="{{ site.baseurl }}/assets/lib/smoothscroll.js"></script>
<script src="{{ site.baseurl }}/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="{{ site.baseurl }}/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plugins.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
